<%- include ('./partials/header.ejs') -%>

<main>
	<section
		style="background-image: url(./images/fondos-pantalla/vista-playa.jpg)"
		class="bg-center bg-cover bg-no-repeat"
		id="destacados"
	>
		<div class="flex justify-center flex-col md:flex-row">
			<div class="max-w-xl w-full h-full p-2">
				<div
					style="
						background-image: url(/public/images/viajes-destacados/imagen-ejemplo-1.png);
						background-repeat: no-repeat;
						background-size: cover;
					"
					class="text-white py-10"
				>
					<div
						class="ml-6 bg-yellow-300 inline-block py-2 px-8 rounded-md -mb-8"
					>
						<h2 class="text-black">Destino del mes:</h2>
					</div>
					<div
						class="bg-white text-black max-w-xs rounded-lg py-2 px-10 shadow-md"
					>
						<h3 class="uppercase font-bold text-4xl leading-none">Cuba</h3>
						<p>Desde:</p>
						<p class="font-bold text-3xl mt-1 leading-none">$299.990</p>
						<a class="inline-block mt-2" href="">
							<div
								class="bg-green-500 py-2 px-4 text-white font-medium text-lg inline-flex items-center rounded-lg hover:bg-green-400"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									class="w-6 mr-2 text-purple-100"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
									/>
								</svg>
								Ver más
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="max-w-xl p-2 w-full h-full">
				<div
					style="
						background-image: url(./images/viajes-destacados/imagen-ejemplo-1.png);
						background-repeat: no-repeat;
						background-size: cover;
					"
					class="text-white py-10"
				>
					<div
						class="ml-6 bg-yellow-300 inline-block py-2 px-8 rounded-md -mb-8"
					>
						<h2 class="text-black">Destino del mes:</h2>
					</div>
					<div
						class="bg-white text-black max-w-xs rounded-lg py-2 px-10 shadow-md"
					>
						<h3 class="uppercase font-bold text-4xl leading-none">Cuba</h3>
						<p>Desde:</p>
						<p class="font-bold text-3xl mt-1 leading-none">$299.990</p>
						<a class="inline-block mt-2" href="">
							<div
								class="bg-green-500 py-2 px-4 text-white font-medium text-lg inline-flex items-center rounded-lg hover:bg-green-400"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									class="w-6 mr-2 text-purple-100"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
									/>
								</svg>
								Ver más
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div>
				<h2
					class="categorias__titulo"
					style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"
					id="paquetesIndex"
				>
					Paquetes Turisticos
				</h2>
				<div
					class="grid lg:grid-cols-2 gap-3 max-w-screen-xl mx-auto items-center justify-center p-4"
				>
                    <% paquetes.forEach(p =>{ %>
                        <section class="paquetes__card">
                            <div>
								<% if (p.img && p.img != ''){ %>
									<img src="/public + <%=String(p.img).split("public")[1]%>" alt="" class="paquetes__imagen"/>
								<% } else { %>
									
								<% } %>

                            </div>
                            <div class="paquetes__descripcion">
                                <div class="px-2 md:px-4 py-4">
                                    <div>
                                        <h3 class="paquetes__titulo"> <%=p.nombre%></h3>
                                    </div>
                                    <div>
                                        <p class="paquetes__subtitulo">Precio por Persona</p>
                                        <h4 class="paquetes__precio">$<%=p.precio%></h4>
                                        <a href="/paquete/<%=p._id%>" class="flex">
                                            <div class="cta__paquetes">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="none"
                                                    class="cta__icon"
                                                    viewBox="0 0 24 24"
                                                    stroke="currentColor"
                                                >
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                                                    />
                                                </svg>
                                                Ver Paquete
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    <% }); %>
					
				</div>
			</div>
		</div>
	</section>

	<section
		style="background-image: url(./images/fondos-pantalla/vista-playa.jpg)"
		class="bg-center bg-cover bg-no-repeat"
	>
		<div class="py-8">
			<div class="max-w-screen-xl mx-auto">
				<h2 class="categorias__titulo mb-2">Países</h2>

				<section class="grid md:grid-cols-3 gap-4 p-4 sm:p-0">
					<div
						class="paises-card"
						style="background-image: url(./images/paises/chile.png)"
					>
						<div
							class="absolute inset-0 w-100 h-100 bg-black opacity-25 z-10 rounded-lg"
						></div>
						<span class="paises-card__title"> Chile</span>
					</div>

					<div
						class="paises-card"
						style="background-image: url(./images/paises/chile.png)"
					>
						<div
							class="absolute inset-0 w-100 h-100 bg-black opacity-25 z-10 rounded-lg"
						></div>
						<span class="paises-card__title"> Argentina</span>
					</div>

					<div
						class="paises-card"
						style="background-image: url(./images/paises/chile.png)"
					>
						<div
							class="absolute inset-0 w-100 h-100 bg-black opacity-25 z-10 rounded-lg"
						></div>
						<span class="paises-card__title"> Perú</span>
					</div>

					<div
						class="paises-card"
						style="background-image: url(./images/paises/argentina.jpg)"
					>
						<div
							class="absolute inset-0 w-100 h-100 bg-black opacity-50 z-10 rounded-lg"
						></div>
						<span class="paises-card__title"> Venezuela </span>
					</div>

					<div
						class="paises-card"
						style="background-image: url(./images/paises/chile.png)"
					>
						<div
							class="absolute inset-0 w-100 h-100 bg-black opacity-25 z-10 rounded-lg"
						></div>
						<span class="paises-card__title"> Brasil</span>
					</div>

					<div
						class="paises-card"
						style="background-image: url(./images/paises/chile.png)"
					>
						<div
							class="absolute inset-0 w-100 h-100 bg-black opacity-25 z-10 rounded-lg"
						></div>
						<span class="paises-card__title"> Estados Unidos</span>
					</div>
				</section>
			</div>
		</div>

		<section class="">
			<div class="p-2 flex flex-col lg:flex-row justify-center items-center">
				<div class="max-w-lg">
					<h1
						class="text-4xl font-bold mb-6 text-white"
						style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"
					>
						Contáctanos
					</h1>
					<img
						src="./images/contactanos/persona-viajando-avion.jpg"
						alt=""
						class="rounded-lg"
					/>
				</div>
				<div class="flex flex-col max-w-sm lg:px-8">
					<h2
						class="text-white text-3xl leading-none mb-4 font-bold"
						style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"
					>
						¿Donde quieres viajar?
					</h2>

					<input
						class="bg-white rounded border border-gray-400 focus:outline-none focus:border-green-500 text-base px-4 py-2 mb-4"
						placeholder="Nombre"
						type="text"
					/>
					<input
						class="bg-white rounded border border-gray-400 focus:outline-none focus:border-green-500 text-base px-4 py-2 mb-4"
						placeholder="Email"
						type="email"
					/>
					<input
						class="bg-white rounded border border-gray-400 focus:outline-none focus:border-green-500 text-base px-4 py-2 mb-4"
						placeholder="País de destino"
						type="text"
					/>
					<textarea
						class="bg-white rounded border border-gray-400 focus:outline-none h-32 focus:border-green-500 text-base px-4 py-2 mb-4 resize-none"
						placeholder="Mensaje"
					></textarea>
					<button
						class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg"
					>
						Enviar Mensaje
					</button>
				</div>
			</div>
		</section>
	</section>
</main>

<%- include ('./partials/footer.ejs') -%>
